.WorkoutTypes{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;
    min-width: fit-content;
    background: linear-gradient(#48494a, #232324);
    margin: 30px auto;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 10px;
}