.Toolbar{
    position: fixed;
    z-index: 800;
    left: 0;
    top: 0;
    background-color: black;
    height: 10vh;
    width: 100%;
    color: blanchedalmond;
}

h4{
    display: inline;
    top: 5px;
    left: 5px;
}

.nav{
    width: 100%;
    display: none;
    align-items: center;
    justify-content: center;
}