.Modal {
    position: fixed;
    z-index: 100;
    background: linear-gradient(#050508, #282829);
    width: 70%;
    box-shadow: 1px 1px 1px black;
    border-radius: 10px;
    left: 15%;
    top: 30%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}