.Backdrop {
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.5;
    transition: all 1s ease-out;
}

.BackdropOpen{
    /* display: block; */
    opacity: 0.5;
    transform: translateY(0);
}

.BackdropClose{
    /* display: none; */
    opacity: 0;
    transform: translateY(-100vh);
}