.Backdrop {
    position: fixed;
    z-index: 900;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    opacity: 0.5;
    transition: all 0.75s ease-out;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.BackdropOpen{
    /* display: block; */
    opacity: 0.5;
}

.BackdropClose{
    /* display: none; */
    opacity: 0;
}