.textbox{
    width: 80%;
    outline: none;
    background-color: inherit;
    border: none;
    color: azure;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.fakeTextBox{
    display: inline-flex;
    border-radius: 5px;
    width: 80%;
    padding: 5px;
    background: linear-gradient(#6d706e, #474747);
    box-shadow: inset 0 -10px rgba(66, 65, 65, 0.87);
    margin: 5px;
    box-sizing: border-box;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

