.AddWorkoutForm{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.textbox{
    width: 80%;
    outline: none;
    background-color: inherit;
    border: none;
}

.fakeTextBox{
    display: inline-flex;
    border-radius: 5px;
    width: 80%;
    padding: 5px;
    background: linear-gradient(#6d706e, #474747);
    box-shadow: inset 0 -10px rgba(66, 65, 65, 0.87);
}