.AuthForm{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
    z-index: 0;
    background: linear-gradient(#48494a, #232324);
    width: 70vw;
    max-width: 500px;
    border-radius: 10px;
    height: fit-content;
    min-height: 85px;
    padding: 20px;
    box-sizing: border-box;
    margin: 30px auto;
    animation: show 2s ease;
    user-select: none;
}

h5{
    margin: 10px;
    cursor: pointer;
}

.AuthForm p{
    font-size: 12px;
    color: rgb(218, 125, 125);
    margin: 0;
    padding: 0;
}

@keyframes show {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}